.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #258ea6;
  }

  .form-wrapper {
    height: 530px;
    width: 440px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }

  .name-wrapper {
    display: flex;
    flex-direction: row;
  }

  form {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    text-align: center;
    width: 100%;
    color: #258ea6;
    font-weight: lighter;
  }
  label {
    font-size: o.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }

  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }

  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }

  .firstName {
    margin-right: 1%;
  }

  .lastName {
    margin-left: 1%;
  }

  .phonenumber {
    display: flex;
    flex-direction: column;
  }

  .phoneinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 210%;
  }

  .firstName,
  .lastName,
  .email,
  .message{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .textarea {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    resize: none;
    height: 100px;
    width: 390px;
  }


  .submit {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 4px 2px;
    background-color: #f8f8f8;
  }

  .submit:hover {
    color: #258ea6;
  }
